.hidden{
  display: none;
}

html, body{
  text-align: center;
  overflow: hidden;
}

body{
  cursor: none !important;
  padding-top: 20px;
  background-color: #333333;
  background: url("/assets/bg.png");
  background-size: contain;
  /* background: linear-gradient(to bottom, #005a51 0%,#00463e 100%); */
}

#video{
  position: absolute;
  z-index: 3;
}

#flash{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
}

.flashColor{
  -webkit-transition: all 0.1s ease-in;
  background-color: #F7EEE7;
}

.roundEdgeBig{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 10px;
}


.gallery{
  width: 960px;
  background-color: #FFFFFF;
  margin: auto;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 10px;
  border-top-width: 30px;
  border-bottom-width: 30px;
}

.galleryItem{
  height: 100px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 5px;
  border-radius: 10px;
}

#fileCount{
  position: absolute;
  right: 20;
  bottom: 20;
  font-size: 50px;
  font-family: sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

#disclaimer{
  font-family: sans-serif;
  color: #FFFFFF;
}